* {
	font-family: 'Lato', sans-serif;
}

nav {
	background-color: black;
}

#landings {
	height: 100vh;
}

#projects {
	height: 100vh;
	text-align: center;
}

#contact {
	background-color: black;
	height: 100vh;
	color: white;
}

#tools {
	height: 100vh;
}